<!DOCTYPE html>
<html>
  <head>
    <title>Create Employee</title>
    <link rel='stylesheet' href='/layui/css/layui.css' />
  </head>
  <body>
    <div style="padding:10px">    
     
	 
      
        <table class="layui-table">
          <tbody>           
            <tr>
			
              <td>输入网址</td>
              <td><input type="input" class="layui-input" name="address"></input></td>
            </tr> 
            	
             <tr>
              <td>数据</td>
              <td><textarea style="height:100px;" class="layui-input" value=""><%-htmtest%></textarea></td>
            </tr>			
          </tbody>
		  
        </table>
	<td rowspan="2"> <input type="submit" class="layui-btn" value="点击提取" /></td>
      
    </div>
  </body>
</html>